<div class="header">
  {{>header loggIn=loggIn}}
</div>

<div class="movieContainer">
  <div id="mainCardContianer">
    {{#each movies}}
    <div class="col-md-3" id="card">
      <a href="{{_id}}" class="card text-center" id="cardSubContainer">
        <img class="card-img-top" src={{poster}} alt="Image of {{title}}">
        <div class="card-block">
          <div class="card-body">
            <h5 class="card-title">{{ title }} </h5>
            <p class="card-text text-muted">{{tagline}}</p>
            <p class="card-text"><small class="text-muted">Released on {{release_date}}</small></p>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>
<div class="footer">
  {{>footer}}
</div>