{{#section 'head'}}
<title>{{userDetails.firstname}}'s Profile</title>
{{/section}}
<div class="header">
    {{>header loggIn=loggIn}}
</div>
<div>
<div class="user-profile">
    <div class="user-icon">
        <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div class="container-div">
        <div>
            Welcome {{userDetails.firstname}} ...
        </div>
        <h1 class="userDetails">
            Here are some details about your profile
        </h1>
        <div class=" py-2 fs-20 ">
            Username: {{userDetails.username}}
        </div>
        <div class=" py-2 fs-20 ">
            First Name: {{userDetails.firstname}}
        </div>
        <div class=" py-2 fs-20 ">
            Last Name: {{userDetails.lastname}}
        </div>
        <div class=" py-2 fs-20 ">
            Email: {{userDetails.email}}
        </div>
    </div>
</div>
</div>
<div class="footer">
    {{>footer}}
</div>